<div class="category phx-hero">
    <%= for category <- @categories do %>
        <button 
            phx-click="filter_by_category" 
            phx-value-cat-id="<%= category.id %>" 
            class="<%= if category.id in @filter, do: "active" %>"
            >
            <%= category.name %>
        </button>
    <% end %>
</div>