<div class="category phx-hero">
    <h3>Filter by Category</h3>
    <h4>Filter: <%= inspect @filter %></h4>
    <h4>Count: <%= @min_count %></h4>
    <%= for category <- @categories do %>
        <button 
            phx-click="filter_by_category" 
            phx-value-cat-id="<%= category.id %>" 
            class="<%= if category.id in @filter, do: "active" %>"
            >
            <%= category.name %>
        </button>
    <% end %>
</div>