<div id="root">
    <%= live_render(@socket, LiveViewTestWeb.CategoryLive, id: "category-live-#{length(@filter)}", session: %{pid: @pid, categories: @categories, filter: @filter}) %>
    <%= live_render(@socket, LiveViewTestWeb.CountLive, id: "count-live-#{@min_count}", session: %{pid: @pid, filter: @filter, min_count: @min_count}) %>
    <div class="phx-hero">
        <table>
            <%= for item <- @items do %>
                <tr>
                    <td><%= item.name %></td>
                    <td><%= item.count %></td>
                    <td><%= get_category(@categories, item.category_id).name %></td>
                </tr>
            <% end %>
        </table>
    </div>
</div>