<div id="root">
    <%= Phoenix.LiveView.live_render(@socket, LiveViewTestWeb.CategoryLive, id: "category-live", session: %{pid: @pid, categories: @categories, filter: @filter, min_count: @min_count}) %>
    <%= Phoenix.LiveView.live_render(@socket, LiveViewTestWeb.CountLive, id: "count-live", session: %{pid: @pid, filter: @filter, min_count: @min_count}) %>
    <h4>Filter: <%= inspect @filter %></h4>
    <h4>Count: <%= @min_count %></h4>
    <div class="phx-hero">
        <table>
            <%= for item <- @items do %>
                <tr>
                    <td><%= item.name %></td>
                    <td><%= item.count %></td>
                    <td><%= get_category(@categories, item.category_id).name %></td>
                </tr>
            <% end %>
        </table>
    </div>
</div>