<div id="parent">
    <h1>This is Parent</h1>
    <h3>State is: <%= @state.toggle %></h3>
    <button phx-click="toggle">Toggle from Parent</button>

    <%= Phoenix.LiveView.live_render(@socket, LiveViewTestWeb.ChildLive, session: assigns) %>
</div>