<header>
    <button phx-click="change_view" value="0" class="<%= if assigns.view == 0, do: "active" %>" >Items</button>
    <button phx-click="change_view" value="1" class="<%= if assigns.view == 1, do: "active" %>" >Categories</button>
</header>
<div class="container">
<%= if @view == 0 do %>
    <%= Phoenix.LiveView.live_render(@socket, LiveViewTestWeb.ItemsLive, session: %{}) %>
<% else %>
    <h2>Other View here</h2>
<% end %>
</div>