<div id="items" class="phx-hero">
  <h3>Filter by Count</h3>
  <form phx-change="filter_by_count">
    <input
      type="number"
      name="count"
      value="<%= @min_count %>"
      placeholder="Filter by Count"
    />
  </form>
</div>
