/* This file is for your main application css. */

@import "./phoenix.css";

#parent, #child {
    padding-top: 2rem;
}

#child {
    margin-top: 2rem;
    box-shadow: 0.5rem 0.5rem 3rem 1rem lightgray;
    border-radius: 1rem;
}